/* header */
.navbar-brand img { width: 200px; }
@media all and (max-width: 576px) {
.navbar-brand img { width: 150px; }
}

.dropdown-menu.dropdown-mobile { position: absolute; }
.dropdown-menu {
  width: max-content;
}

.switch {
  position: relative;
  display: inline-block;
  width: 68px;
  height: 38px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.25rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 29px;
  width: 29px;
  left: 4px;
  bottom: 4px;
  background-color: #0d6efd;
  border-radius: 0.25rem;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0d6efd;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

.slider #sun {
  position: absolute;
  left: 10px;
  top: 6px;
  z-index: 2;
}
.slider #moon {
  position: absolute;
  right: 10px;
  top: 6px;
  z-index: 2;
}

.text-dark .slider #moon { color: #6c757d }
.text-light .slider #moon { color: #000; }

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

/* footer */
.brand-sygnet { height: 40px; }