{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="px-4 py-2 px-md-5 text-center text-lg-start">
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <h1 class="pb-3 fw-bold">Login</h1>
        <img src="{% static 'images/login.svg' %}" title="Login to QuizApp">
      </div>

      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="card bg-light">
          <div class="card-body py-5 px-md-5">
            <form action="" method="POST">{% csrf_token %}
              <!-- Username input -->
              <div class="form-outline mb-2">
                <input name="username" type="text" id="id_username" class="form-control" required />
                <label class="form-label" for="id_username">Username</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-2">
                <input name="password" type="password" id="id_password" class="form-control" required />
                <label class="form-label" for="id_password">Password</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-2 w-100">
                <i class="bi bi-box-arrow-in-right"></i> Login
              </button>
            </form>
            <hr>
            <p>Don't have an account?</p>
            <a href="{% url 'register' %}">
                <button class="btn btn-secondary btn-block mb-2 w-100">
                  <i class="bi bi-person-plus"></i> Register
                </button>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}