{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="px-4 py-2 px-md-5 text-center text-lg-start">
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <h1 class="pb-3 fw-bold">Register</h1>
        <img src="{% static 'images/register.svg' %}" title="Register to QuizApp">
      </div>

      <div class="col-lg-5 mb-5 mb-lg-0">
        <div class="card bg-light">
          <div class="card-body py-5 px-md-5">
            <form action="" method="POST">{% csrf_token %}
              <!-- Username input -->
              <div class="form-outline mb-2">
                {{ form.username }}
                <label class="form-label" for="id_username">Username</label>
              </div>

              <!-- Email input -->
                <div class="form-outline mb-2">
                  {{ form.email }}
                  <label class="form-label" for="id_email">Email address</label>
                </div>

              <!-- Password 1 input -->
              <div class="form-outline mb-2">
                {{ form.password1 }}
                <label class="form-label" for="id_password1">Password</label>
              </div>

              <!-- Password 2 input -->
              <div class="form-outline mb-2">
                {{ form.password2 }}
                <label class="form-label" for="id_password2">Password confirmation</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-2 w-100">
                <i class="bi bi-person-plus"></i> Register
              </button>
            </form>
            <hr>
            <p>Already have an account?</p>
            <a href="{% url 'login' %}">
                <button class="btn btn-secondary btn-block mb-2 w-100">
                  <i class="bi bi-box-arrow-in-right"></i> Login
                </button>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}