{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

        <form action="{% url 'add_question' quiz.id %}" method="POST">{% csrf_token %}
            <input type="text" name="question" placeholder="Question">
            <p>
        <input type="text" name="answer1" placeholder="Answer">
        <input type="radio" name="correct_answer" value="1">
    </p>
    <p>
        <input type="text" name="answer2" placeholder="Answer">
        <input type="radio" name="correct_answer" value="2">
    </p>
    <p>
        <input type="text" name="answer3" placeholder="Answer">
        <input type="radio" name="correct_answer" value="3">
    </p>
    <p>
        <input type="text" name="answer4" placeholder="Answer">
        <input type="radio" name="correct_answer" value="4">
    </p>

        <input type="submit" name="Submit">

    </form>
               
{% endblock %}