{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Add question{% endblock %}

{% block content %}

<form action="{% url 'add_question' quiz.id %}" method="POST">{% csrf_token %}
    <input class="form-control" type="text" name="question" placeholder="Question">

    <div class="input-group mt-3">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="radio" name="correct_answer" value="1">
      </div>
      <input type="text" class="form-control" name="answer1" placeholder="Answer">
    </div>

    <div class="input-group mt-3">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="radio" name="correct_answer" value="2">
      </div>
      <input type="text" class="form-control" name="answer2" placeholder="Answer">
    </div>

    <div class="input-group mt-3">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="radio" name="correct_answer" value="3">
      </div>
      <input type="text" class="form-control" name="answer3" placeholder="Answer">
    </div>

    <div class="input-group mt-3">
      <div class="input-group-text">
        <input class="form-check-input mt-0" type="radio" name="correct_answer" value="4">
      </div>
      <input type="text" class="form-control" name="answer4" placeholder="Answer">
    </div>

    <div class="col-12">
        <input type="submit" class="btn btn-primary mt-4">
    </div>

</form>
               
{% endblock %}