{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Categories{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Added</th>
      <th scope="col">Level</th>
    </tr>
  </thead>
  <tbody>
     {% for i in quizes_list %}
         <tr>
            <td>{{ i.category }}</td>
            <td><a href="{% url 'quiz' i.id %}">{{ i.name }}</a></td>
            <td>{{ i.author }}</td>
            <td>{{ i.added }}</td>
            <td>{{ i.level }}</td>
         </tr>
     {% endfor %}
  </tbody>
</table>
<br/><br/>

<hr><br/>
<nav aria-label="Page navigation example">
  <ul class="pagination">

{% if quizes_list.has_previous %}
    <li class="page-item"><a class="page-link" href="?{{ querystring }}&amp;page=1">&laquo; First</a></li>
    <li class="page-item"><a class="page-link" href="?{{ querystring }}&amp;page={{ quizes_list.previous_page_number }}">Previous</a></li>
{% endif %}
{%  for i in nums %}
    <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
{% endfor %}
{% if quizes_list.has_next %}
    <li class="page-item"><a class="page-link" href="?{{ querystring }}&amp;page={{ quizes_list.next_page_number }}">Next</a></li>
    <li class="page-item"><a class="page-link" href="?{{ querystring }}&amp;page={{ quizes_list.paginator.num_pages }}">Last &raquo;</a></li>
{% endif %}
  </ul>
</nav>
{#<nav aria-label="Page navigation example">#}
{#  <ul class="pagination">#}
{##}
{#    {% if quizes_list.has_previous %}#}
{#      <li class="page-item"><a class="page-link" href="?{{ querystring }}&amp;page=1">&laquo; First</a></li>#}
{#      <li class="page-item"><a class="page-link" href="?{{ querystring }}&amp;page={{ quizes_list.previous_page_number }}">Previous</a></li>#}
{#    {% endif %}#}
{##}
{#    {%  for i in nums %}#}
{#      <li class="page-item {% if quizes_list.number == forloop.counter %}active{% endif %}">#}
{#        <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>#}
{#      </li>#}
{#    {% endfor %}#}
{##}
{#    {% if quizes_list.has_next %}#}
{#      <li class="page-item"><a class="page-link" href="?{{ querystring }}&amp;page={{ quizes_list.next_page_number }}">Next</a></li>#}
{#      <li class="page-item"><a class="page-link" href="?{{ querystring }}&amp;page={{ quizes_list.paginator.num_pages }}">Last &raquo;</a></li>#}
{#    {% endif %}#}
{##}
{#  </ul>#}
{#</nav>#}


{% endblock %}