{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

    <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Added</th>
      <th scope="col">Level</th>
    </tr>
  </thead>
  <tbody>
    {% for quiz in quizes %}
         <tr>
             <td><a href="{% url 'quiz' quiz.id %}">{{ quiz.name }}</a></td>
            <td>{{ quiz.author }}</td>
            <td>{{ quiz.added }}</td>
            <td>{{ quiz.level }}</td>
         </tr>
     {% endfor %}
  </tbody>
</table>
{% endblock %}