{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Create quiz{% endblock %}

{% block content %}

{% if done == False %}
    <form action="" method="POST">{% csrf_token %}
        <label for="quiz-category">Category</label>
        <select name="quiz-category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>

        <input type="text" name="quiz-name" placeholder="Quiz name">
        <textarea name="quiz-description"></textarea>

            {% for level in levels %}
                <input type="radio" name="quiz-level" value="{{ level }}" placeholder="Quiz-level">
                <label>{{ level }}</label>
            {% endfor %}
        <input type="text" name="question" placeholder="Question">
    <p>
        <input type="text" name="answer1" placeholder="Answer">
        <input type="radio" name="correct_answer" value="1">
    </p>
    <p>
        <input type="text" name="answer2" placeholder="Answer">
        <input type="radio" name="correct_answer" value="2">
    </p>
    <p>
        <input type="text" name="answer3" placeholder="Answer">
        <input type="radio" name="correct_answer" value="3">
    </p>
    <p>
        <input type="text" name="answer4" placeholder="Answer">
        <input type="radio" name="correct_answer" value="4">
    </p>

        <input type="submit" name="Submit">

    </form>

{% else %}

        <form  method="POST">{% csrf_token %}

        <input type="text" name="question" placeholder="Question">
            <p>
        <input type="text" name="answer1" placeholder="Answer">
        <input type="radio" name="correct_answer" value="1">
    </p>
    <p>
        <input type="text" name="answer2" placeholder="Answer">
        <input type="radio" name="correct_answer" value="2">
    </p>
    <p>
        <input type="text" name="answer3" placeholder="Answer">
        <input type="radio" name="correct_answer" value="3">
    </p>
    <p>
        <input type="text" name="answer4" placeholder="Answer">
        <input type="radio" name="correct_answer" value="4">
    </p>

        <input type="submit" name="Submit">

    </form>

{% endif %}

{% endblock %}