{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="px-4 py-2 px-md-5 text-center text-lg-start">
  <div class="container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <img src="{% static 'images/home.svg' %}" title="Welcome to QuizApp">
      </div>
      <div class="col-lg-5 mb-5 mb-lg-0">
          <h1>Welcome to QuizApp</h1>
          <p>
              QuizApp is an engaging and interactive app that challenges your knowledge on a variety of topics.
          </p>
          <p>
              It provides an excellent opportunity to learn new things and test your knowledge.
          </p>
          <p>
              Whether you want to pass the time or improve your skills, QuizApp is a fun and informative way to do so.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h5>Best Users!</h5>
        <hr>
        <div class="card card-body bg-light">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'users' %}">Show Users
            </a>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                     {% for i in users %}
                         <tr>

                            <td>{{ i.name }}</td>
                            <td>{{ i.level }}</td>
                         </tr>
                     {% endfor %}
  </tbody>

            </table>
        </div>
    </div>

    <div class="col-md-8">
        <h5>Recently created</h5>
        <hr>
        <div class="card card-body bg-light">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'allquizes' %}">Show All</a>
            <table class="table table-sm">
                <thead>
                       <tr>
                           <th>Category</th>
                           <th>Name</th>
                           <th>Added</th>
                           <th>Modified</th>
                           <th>Level</th>
                       </tr>
                </thead>

                <tbody>
                    {% for i in quizes %}
                        <tr>
                            <td>{{ i.category }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.added }}</td>
                            <td>{{ i.modified }}</td>
                            <td>{{ i.level }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}