{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h5>Best Users!</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'users' %}">Show Users
            </a>
            <table class="table table-sm">
                <thead>
                    <tr>

                        <th>User</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                     {% for i in users %}
                         <tr>

                            <td>{{ i.name }}</td>
                            <td>{{ i.level }}</td>
                         </tr>
                     {% endfor %}
  </tbody>

            </table>
        </div>
    </div>

    <div class="col-md-8">
        <h5>Recently created</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Quiz</a>
            <table class="table table-sm">
                <thead>
                       <tr>
                           <th>Category</th>
                           <th>Name</th>
                           <th>Added</th>
                           <th>Modified</th>
                           <th>Level</th>
                       </tr>
                </thead>

                <tbody>
                    {% for i in quizes %}
                        <tr>
                            <td>{{ i.category }}</td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.added }}</td>
                            <td>{{ i.modified }}</td>
                            <td>{{ i.level }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}