{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Key-value {{quiz.name}}{% endblock %}

{% block content %}

   <h1>Name: {{ quiz.name }}</h1>
   Category: <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2">{{ quiz.category }}</small>
    Created by: <small class="d-inline-flex mb-3 px-2 py-1 fw-semibold text-primary bg-primary bg-opacity-10 border border-primary border-opacity-10 rounded-2">{{ quiz.author }}</small>

    {% if done == False %}

        <div>
            <form action="" method="POST">{% csrf_token %}
                <table>
                    <tr>
                        <th>question</th>
                        <th>answer</th>
                    </tr>
                {% for question in questions %}
                    <tr>
                        <td>{{ question }}</td>
                        <td><input type="text" class="form-control my-2" name="{{question.id}}" placeholder="answer" required></td>
                    </tr>
                {% endfor %}
                </table>
            <div class="col-12">
                <input type="submit" class="btn btn-primary mt-4">
            </div>
           </form>
        </div>

    {% else %}

         <div class="card text-bg-secondary" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Score</h4>
                {% if levelup_flag %}
                    <h6 class="card-subtitle mb-2">Congratulations, you earned next level!</h6>
                {% endif %}
                <h6 class="card-subtitle mb-2">Your score is {{points}}/{{max_points}}</h6>
                <p class="card-text"> !Your best score is x/x!</p>
                {% if points == max_points %}
                    <p class="card-text"> This is max score! :)</p>
                {% endif %}
            </div>
        </div>

        <div>
        <table>
            <tr>
                <th>question</th>
                <th>answer</th>
            </tr>
            {% for question in questions %}
                <tr>
                    <td>{{ question }}</td>
                    {% for answer in answers %}
                        {% for ans in answer %}
                            {% if ans.question == question %}
                                <td> {{ ans }} </td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        </div>

        <h3>Comments</h3>

        {% if user.is_authenticated %}
            <form method="POST" action=""> {% csrf_token %}
                <input type="text" name="comment" placeholder="Write your comment here" required>
                <input type="submit" class="btn btn-primary">
            </form>
        {% endif %}

        {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="card text-bg-secondary" style="min-width: 18rem;">
                    <h5 class="card-title">{{comment.author}}</h5>
                    <h6 class="card-subtitle">Level {{comment.author.level}} {{comment.added}}</h6>
                    <p class="card-text" style="font-size: 20px">{{comment.content}}</p>
                </div>

                {% endfor %}
        {% endif %}

    {% endif %}

{% endblock %}