{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}{{ quiz.name }}{% endblock %}

{% block content %}

   <h1>Name: {{ quiz.name }}</h1>
   <h5>Category: {{ quiz.category }}</h5>
   <h5>Created by: {{ quiz.author }}</h5>

    <div>
        <form action="" method="POST">{% csrf_token %}
            {% for quest in question %}
                <p>{{ quest }}</p>
                {% for ans in answers %}
                    {% for a in ans %}
                        {% if a.question == quest %}
                                <input type="radio" name="{{quest.id}}" value="{{ a.id }}" required>
                                <label>{{ a }}</label>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        <input type="submit" class="btn btn-primary">
       </form>
    </div>

{% endblock %}