{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}{{ quiz.name }}{% endblock %}

{% block content %}

    <h1>Name: {{ quiz.name }}</h1>
    <h5>Category: {{ quiz.category }}</h5>
    <h5>Created by: {{ quiz.author }}</h5>

    {% if done == False %}

        <div>
            <form action="" method="POST">{% csrf_token %}
                {% for question in questions %}
                    <p>{{ question }}</p>
                    {% for ans in answers %}
                        {% for a in ans %}
                            {% if a.question == question %}
                                    <input type="radio" name="{{question.id}}" value="{{ a.id }}" required>
                                    <label>{{ a }}</label>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            <input type="submit" class="btn btn-primary">
           </form>
        </div>

    {% else %}
        <div class="card text-bg-secondary" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Score</h4>
                {% if levelup_flag %}
                    <h6 class="card-subtitle mb-2">Congratulations, you earned next level!</h6>
                {% endif %}
                <h6 class="card-subtitle mb-2">Your score is {{points}}/{{max_points}}</h6>
                <p class="card-text"> !Your best score is x/x!</p>
                {% if points == max_points %}
                    <p class="card-text"> This is max score! :)</p>
                {% endif %}
            </div>
        </div>

        <div>
                {% for question in questions %}
                    <p>{{ question }}</p>
                    <ul>
                        {% for answer in answers %}
                            {% for ans in answer %}
                                {% if ans.question == question %}
                                    {% if ans.correct %}
                                        <li style="color: #00ff00"> {{ ans }} </li>
                                    {% else %}
                                        <li> {{ ans }} </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endfor %}
        </div>

        <h3>Comments</h3>

        {% if user.is_authenticated %}
            <form method="POST" action="">{% csrf_token %}
                <input type="text" name="comment" placeholder="Write your comment here" required>
                <input type="submit" class="btn btn-primary">
            </form>
        {% endif %}

        {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="card text-bg-secondary" style="min-width: 18rem;">
                    <h5 class="card-title">{{comment.author}}</h5>
                    <h6 class="card-subtitle">Level {{comment.author.level}} {{comment.added}}</h6>
                    <p class="card-text" style="font-size: 20px">{{comment.content}}</p>
                </div>

                {% endfor %}
        {% endif %}

    {% endif %}
{% endblock %}