<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
   <h1>{{ quiz.name }}</h1>
   <h2>{{ quiz.category }}</h2>

    <div>
        <form action="" method="POST">{% csrf_token %}
            {% for quest in question %}
                <p>{{ quest }}</p>
                {% for ans in answers %}
                    {% for a in ans %}
                        {% if a.question == quest %}
                                <input type="radio" name="{{quest.id}}" value="{{ a.id }}" required>
                                <label>{{ a }}</label>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        <input type="submit">
       </form>
    </div>
</body>
</html>