{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Level</th>
      <th scope="col">Progress</th>
    </tr>
  </thead>
  <tbody>
     {% for i in users %}
         <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ i.name }}</td>
            <td>{{ i.level }}</td>
            <td>{{ i.progress }}</td>
         </tr>
     {% endfor %}
  </tbody>
</table>

{% endblock %}