{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load django_bootstrap5 %}

    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    {% bootstrap_javascript %}
    <script type='text/javascript' src="{% static 'js/script.js' %}"></script>

    {% bootstrap_messages %}

    <title>{% block title %}{% endblock %} - QuizApp</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">

</head>
<body>
    {% include 'header.html' %}

    <div class="container mb-5 mt-5">

    {% block content %}

    {% endblock content %}

    </div>

    {% include 'footer.html' %}
</body>
</html>