{% load static %}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2023 QuizApp</p>

        <img src="{% static 'images/sygnet.svg' %}" class="brand-sygnet d-none d-xl-block" title="QuizApp">

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="{% url 'allquizes' %}" class="nav-link px-2 text-muted">Categories</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">txt</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">txt</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">txt</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" id="back-to-top">
                <i class="bi bi-arrow-up"></i>
            </a></li>
        </ul>
        <script type='text/javascript' src="{% static 'js/totop.js' %}"></script>
    </footer>
</div>